@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-color: #16161a;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TITLE-PAGE */

.title-page {
    color: #fffffe;
    margin-bottom: 30px;
}

/* CONTAINER-CONFIG */

.container-config {

    width: 800px;
    height: 250px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.left, .rigth {

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-end;

}

#box {

    padding: 10px;

    background-color: #7f5af0;    

}

.rigth {
    align-items: flex-start;
}

input[type="text"] {

    width: 50px;
    text-align: center;

    outline: 0;
    border: 3px solid #94a1b2;
    border-radius: 5px;

    background-color: #72757e;
    color: #fffffe;
}


/* SOURCE */
